@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 95px;
  bottom: 0;
  width: 100%;
}
.source-select-container {
  padding: 0.5rem;
}
.source-select-container .title {
  font-size: 1.25rem;
  font-weight: 500;
}
